<div class='row'>
	<%= render(:partial => 'header') %>
		<h2>Delete Role</h2>
		<div class='col-sm-2 col-sm-offset-10'>
			<%= link_to "Back to Role list", :action => 'role', :html => {:class => 'form-control'} %>
		</div>
		<br />
		<%= form_for :role, :url => {:action => 'destroy_role', :id => @role.id}, :html => {:class => 'delete_role', :role => 'form'}, :method => 'post' do |f| %>
			<h4 class='reference-name'>Role name : <%= @role.name %></h4>
			<p class='form-control'>Are you sure you want to permanently delete this role?</p>
			<%= f.submit "Delete Role", :class => "form-control" %>
		<% end %> 
	</div>
</div>