<div class='row'>
	<%= render(:partial => 'header') %>
		<h2>Create new Unit</h2>
		<div class='col-sm-2 col-sm-offset-10'>
			<%= link_to "Back to Unit list", :action => 'unit', :html => {:class => 'form-control'} %>
		</div>
		<br />
		<%= form_for @unit, :as => :unit, :url => {:action => 'update_unit'}, :html => {:class => 'edit_unit', :role => 'form'}, :method => 'post' do |f| %>
			<%= f.text_field :name, :placeholder => 'Unit Name', :class => 'form-control' %>
			<%= f.text_field :leader, :placeholder => 'Leader Name', :class => 'form-control' %>
			<%= f.submit "Update Unit", :class => "form-control" %>
		<% end %> 
	</div>
</div>