<div class='row'>
	<%= render(:partial => 'header') %>
		<h2>Edit Plan</h2>
		<div class='col-sm-2 col-sm-offset-10'>
			<%= link_to "Back to Plan list", :action => 'plan', :html => {:class => 'form-control'} %>
		</div>
		<br />
		<%= form_for :plan, :url => {:action => 'update_plan', :id => @plan.id}, :html => {:class => 'edit_plan', :role => 'form'}, :method => 'post' do |f| %>
			<%= f.text_field :name, :placeholder => 'Plan name', :class => 'form-control' %>
			<%= f.number_field :amount, :placeholder => 'Amount', :class => 'form-control', :step => 0.5, :min => 0 %>
			<%= f.submit "Update Plan", :class => "form-control" %>
		<% end %> 
	</div>
</div>