<div class='row'>
	<%= render(:partial => 'header') %>
		<h2>Edit Workplace</h2>
		<div class='col-sm-2 col-sm-offset-10'>
			<%= link_to "Back to Workplace list", :action => 'workplace' %>
		</div>
		<br />
		<%= form_for :workplace, :url => {:action => 'register_workplace', :id => @workplace.id}, :html => {:class => 'new_workplace', :role => 'form'}, :method => 'post' do |f| %>
			<%= f.text_field :name, :placeholder => 'Workplace Name', :class => 'form-control' %>
			<%= f.submit "Create Workplace", :class => "form-control" %>
		<% end %> 
	</div>
</div>