<div class='row'>
	<%= render(:partial => 'header') %>
		<h2>Plans</h2>
		<div class='col-sm-2 col-sm-offset-10'>
			<%= link_to "New Plan", :action => 'new_plan', :html => {:class => 'form-control'} %>
		</div>
		<table class="table">
			<tr class='header'>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Standard</th>
				<th>Actions</th>
			</tr>
			<% @plans.each do |plan| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<td><%= plan.id %></td>
				<td><%= plan.name %></td>
				<td><%= plan.standard %></td>
				<td class='actions'>
					<%= link_to('Edit', {:action => 'edit_plan', :id => plan.id}, :class => 'form-control') %>
					<%= link_to('Delete', {:action => 'delete_plan', :id => plan.id}, :class => 'form-control') %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>